body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  color: #B3B6B7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  margin-top: 0px;
}

.btn-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.btn-1:hover {
  background-color: #8E44AD;
  transform: scale(1.1);
}

.btn-2 {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.btn-2:hover {
  background-color: #8E44AD;
  transform: scale(1.1);
}

h1{
  margin-bottom: 0px;
}

.first-para{
  margin-top: 10px;
}

h1 span {
  transition: 0.5s ease-out;
}
h1:hover span:nth-child(1) {
  margin-right: 5px;
}
h1:hover span:nth-child(1):after {
  content: "'";
}
h1:hover span:nth-child(2) {
  margin-left: 30px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.registration-bg{
  background-size: cover;
  color: #B3B6B7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  height: 100vh;
  padding-top: 1px;
}

.login-button{
  font-family: 'Calligraffitti', cursive;
  background-color: #4CAF50; /* Green */
  height: 0.5in;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.5%;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #888888;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  background-color: #3e8e41;
  box-shadow: 0px 0px 12px #888888;
  transform: translateY(-2px);
}

.login-button:active {
  background-color: #3e8e41;
  box-shadow: 0px 0px 8px #888888;
  transform: translateY(2px);
}

.register-form {
  margin: auto;
  padding-top: 5px;
  padding-right: 50px;
  padding-left: 30px;
  padding-bottom: 20px;
  width: 35%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: 'Roboto', sans-serif;
}

.register-title {
  position: relative;
  font-family: 'Calligraffitti', cursive;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #F9f1cc;
}

.register-label {
  color: #F9f1cc;
  font-size: 20px;
  font-family: 'Source Sans Pro';
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 10px;
}

.register-label i {
  margin-right: 10px;
}

.register-input {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  width: 100%;
  color: #000000;
  box-shadow: 10px 10px;
}

.already-account{
  font-family: 'Calligraffitti', cursive;
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 10px;
}

.registration-bg{
  color: #B3B6B7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  height: 100vh;
  padding-top: 1px;
}

.registration-button{
  font-family: 'Calligraffitti', cursive;
  background-color: #4CAF50;
  margin:0 auto;
  display:block;
  margin-top: 20px;
  height: 0.5in;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0px 0px 8px #888888;
  transition: all 0.3s ease-in-out;
}

.registration-button:hover {
  background-color: #3e8e41;
  box-shadow: 0px 0px 12px #888888;
  transform: translateY(-2px);
}