@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  color: #B3B6B7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  margin-top: 0px;
}

.btn-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.btn-1:hover {
  background-color: #8E44AD;
  transform: scale(1.1);
}

.btn-2 {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.btn-2:hover {
  background-color: #8E44AD;
  transform: scale(1.1);
}

h1{
  margin-bottom: 0px;
}

.first-para{
  margin-top: 10px;
}

h1 span {
  transition: 0.5s ease-out;
}
h1:hover span:nth-child(1) {
  margin-right: 5px;
}
h1:hover span:nth-child(1):after {
  content: "'";
}
h1:hover span:nth-child(2) {
  margin-left: 30px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.registration-bg{
  background-size: cover;
  color: #B3B6B7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  height: 100vh;
  padding-top: 1px;
}

.login-button{
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 8px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #00688B;
  box-shadow: 0px 0px 12px #888888;
  transform: translateY(-2px);
}

.login-button:active {
  background-color: #3e8e41;
  box-shadow: 0px 0px 8px #888888;
  transform: translateY(2px);
}

.register-form {
  text-align: center;
  margin-top: 80px;
  margin-left: 500px;
  padding-top: 5px;
  padding-right: 50px;
  padding-left: 30px;
  padding-bottom: 20px;
  width: 35%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: 'Roboto', sans-serif;
}

.register-title {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #2fb6c2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.register-label {
  color: #F9f1cc;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 10px;
}

.register-label i {
  margin-right: 10px;
}

.register-input {
  font-size: small;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  width: 100%;
  color: #000000;
  box-shadow: 10px 10px;
}

.already-account{
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 18px;
  float: right;
}

.registration-bg{
  color: #B3B6B7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  height: 100vh;
  padding-top: 1px;
}

.registration-button{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 10px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.registration-button:hover {
  background-color: #00688B;
  box-shadow: 0px 0px 12px #888888;
  transform: translateY(-2px);
}

.login-bg{
  background-size: cover;
  color: #B3B6B7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  height: 100vh;
  padding-top: 1px;
}

.login-header{
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-shadow: #ffffff;
}

.animation{
  font-size: 50px;
  font-weight: bolder;
}

.sh1{
  display: flex;
  justify-content: center;
}


.blog-heading{
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}

#blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading span{
  color: #f33c3c;
}

.blog-heading h3{
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box{
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc; 
  box-shadow:         3px 3px 5px 6px #ccc;
}

.blog-img{
  width: 100%;
  height: auto;
}

.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text2{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-text span{
  font-weight: 700;
  color: #f33c3c;
  font-size: 1.8rem;
}

.blog-text2 span{
  font-weight: 700;
  color: #f33c3c;
  font-size: 1.7rem;
}

.blog-text p{
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text2 p{
  color: #9b9b9b;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text a{
  color: #0f0f0f;
}

.blog-text2 a{
  color: #0f0f0f;
}

.blog-text a:hover{
  color: #f33c3c;
  transition: all-ease 0.3sec;
}

.blog-text2 a:hover{
  color: #f33c3c;
  transition: all-ease 0.3sec;
}

.image-resize{
  height: 20px;
}

.abhi{
  font-size: x-large;
  color: #ffffff;
  font-weight: 800;
}

.blog-heading h3{
  color: #ffffff;
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.navbar1{
  float: left;
  margin: 20px 20px;
}

.homepage{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.homepage:hover{
  background-color: #8E44AD;
  transform: scale(1.1);
}

.homepage2{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 12px 24px; 
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.homepage2:hover{
  background-color: #8E44AD;
  transform: scale(1.1);
}

.home-div{
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.login-home{
  color: #ffffff;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 350px 350px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
  font-family: 'Open Sans', sans-serif;
}

.login-home:hover {
  background-color: #00688B;
  box-shadow: 0px 0px 12px #888888;
  transform: translateY(-2px);
}

.elewayte-logo {
  position:fixed; 
	top:30px; 
	left: 580px;
  width: 25%;
}

.btn-5 {
  position: absolute;
  left: 140px;
  top: 27px;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.btn-5:hover {
  background-color: #8E44AD;
  transform: scale(1.1);
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background-color: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 240px;
}

.sidebar.active{
  width: 270px;
}

.sidebar .logo_content .logo {
  color: #fff;

  height: 50px;
  width: 100%;
  align-items: center;
}

.logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn{
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar #btn:hover{
  cursor: pointer;
}

.sidebar ul{
  margin-top: 20px;
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  border-radius: 12px;
}

.sidebar ul li .tooltip{
  color: #000000;
  position: absolute;
  left: 122px;
  top: 0%;
  transform: translateY(-50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}

.sidebar ul li a i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.links_name {
  font-size: small;
  font-weight: 700;
  padding-left: 10px;
}

.tooltip{
  font-size: small;
  font-weight: 700;
}